<% @team.team_members.each do |member| %>
  <div class='col-lg-3 col-md-4 col-sm-12'>
    <div class='card'>

      <div class="card-body">
        <h4 class="card-title"><%= member.user.username %></h4>
        <p class="card-text"><%= member.user.email %></p>
        <p class="card-text">Role: <%= capitalize_name(member.role) %></p>
      </div>

      <% if user_can_manage_team(user: current_user, team: @team) %>
        <div class="card-footer">
          <div class="slide-menu">
            <div class="menu-container">
              <div class="menu-toggle">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
                <span class="glyphicon glyphicon-remove"></span>
              </div>
              <div class="menu-items">
                <%= link_to edit_team_member_path(member, team_id: @team.id), remote: true do %>
                  <span class="glyphicon glyphicon-pencil"></span>
                <% end %>
                <% if member.is_last_team_admin? %>
                  <%= link_to member, method: :delete,
                    data: { confirm: "#{member.user.username} is the last team admin.\nRemoving this team member will delete the team!" } do %>
                    <span class="glyphicon glyphicon-trash"></span>
                  <% end %>
                <% else %>
                  <%= link_to member, method: :delete,
                    data: { confirm: "Are you sure you want to remove #{member.user.username} from the team?" } do %>
                    <span class="glyphicon glyphicon-trash"></span>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
