<% if @team.projects.empty? %>
  <p>No projects have been assigned to this team yet</p>
<% end %>
<% @team.projects.each do |project| %>
  <div class='col-lg-3 col-md-4 col-sm-12'>
    <div class='card'>
      <%= link_to project, class: 'card-body' do %>
        <h4 class="card-title"><%= project.name %></h4>
        <% if project.description.present? %>
          <p class="card-text"><%= project.description %></p>
        <% end %>
      <% end %>
      <% if user_is_team_admin(user: current_user, team: @team) %>
        <div class="card-footer">
          <div class="slide-menu">
            <div class="menu-container">
              <div class="menu-toggle">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
                <span class="glyphicon glyphicon-remove"></span>
              </div>
              <div class="menu-items">
                <%= link_to TeamProject.find_by(team_id: @team, project_id: project),
               method: :delete, data: { confirm: 'Remove project from team?' } do %>
                  <span class="glyphicon glyphicon-trash"></span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

