<div class="row no-gutters">
  <h3 class="home-page-heading">
    Teams
    <span class="badge badge-info counter"><p><%= current_user.teams.try(:size) %></p></span>
    <%= link_to new_team_path, remote: true, class: 'btn btn-default pull-right' do %>
      <span class="glyphicon glyphicon-plus" />
    <% end %>
  </h3>
  <% if current_user.teams.empty? %>
    <p>You are not working on any projects at the moment</p>
  <% end %>
  <% current_user.teams.each do |team| %>
    <%= render partial: 'layouts/card', locals: {
      target_link: team_path(team),
      card_type: 'team',
      title: team.name,
      description: (team.description if team.description.present?),
      extra_body: ["Role: " + capitalize_name(get_user_role(current_user, team))]
    } %>
  <% end %>
</div>