<% provide(:title, 'Editing Team - ' + @team.name) %>
<% provide(:active_nav, 'teams') %>
<div class="page-header">
  <%= link_to teams_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to @team, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing team</h1>
</div>

<%= render 'form' %>
