<% provide(:title, 'New Team') %>
<% provide(:active_nav, 'teams') %>
<div class="page-header">
  <%= link_to teams_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New team</h1>
</div>

<%= render 'form' %>
