<% provide(:title, 'Showing Team - ' + @team.name) %>
<% provide(:active_nav, 'teams') %>
<div class="page-header">
  <h1><%= @team.name %>
    <% if user_is_team_admin(user: current_user, team: @team) %>
      <div class="slide-menu">
        <div class="menu-container">
          <div class="menu-toggle">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
            <span class="glyphicon glyphicon-remove"></span>
          </div>
          <div class="menu-items">
            <%= link_to edit_team_path(@team), remote: true do %>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
            <%= link_to @team, method: :delete,
              data: { confirm: "Are you sure you want to delete this team?" } do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </h1>
</div>

<!-- <dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @team.name %></dd>
</dl> -->

<div class="row no-gutters">
  <h3 class="home-page-heading">Team Members
    <span class="badge badge-info counter"><p><%= @team.users.size %></p></span>
    <% if user_can_manage_team(user: current_user, team: @team) %>
      <%= link_to new_team_member_path(team_id: @team.id), remote: true, id: "add-team-member-button", class: 'btn btn-default pull-right' do %>
        <span class="glyphicon glyphicon-plus" />
      <% end %>
    <% end %>
  </h3>
  <%= render 'member_cards' %>
</div>

<div class="row no-gutters">
  <h3 class="home-page-heading">Projects
    <span class="badge badge-info counter"><p><%= @team.projects.size %></p></span>
    <% if user_is_team_admin(user: current_user, team: @team) %>
      <%= link_to new_team_project_path(team: @team), remote: true, id: "add-project-button", class: 'btn btn-default pull-right' do %>
        <span class="glyphicon glyphicon-plus" />
      <% end %>
    <% end %>
  </h3>
  <%= render 'project_cards' %>
</div>
