<div class="row no-gutters">
  <% if @tasks.present? %>
    <h3 class="home-page-heading">
      Tasks
      <span class="badge badge-info counter"><p><%= @tasks.size %></p></span>
    </h3>

<!--     <% projects.each do |project| %>
      <div class="home-page-heading">
        <ul class="task-tree">
          <%= raw calculate_task_tree(project: project) %>
        </ul>
      </div>
    <% end %> -->
    <% @tasks.each do |task| %>
      <div class='col-lg-3 col-md-4 col-sm-12'>
        <a class='card' href=<%= task_path(task) %>>
          <div class="card-body">
          <h4 class="card-title"><%= task.name %></h4>
          <% if task.description.present? %>
            <p class="card-text"><%= task.description %></p>
          <% end %>
        </div>
        </a>
      </div>
    <% end %>
  <% end %>
</div>
<%= javascript_include_tag 'static_pages', 'data-turbolinks-track' => true %>
