<div class="row no-gutters">
  <h3 class="home-page-heading">
    <%= link_to "Teams", teams_url %>
    <span class="badge badge-info counter"><p><%= current_user.teams.try(:size) %></p></span>
    <a class='btn btn-default pull-right' href=<%= new_team_path %>>
      <span class="glyphicon glyphicon-plus" />
    </a>
  </h3>
  <% if current_user.teams.empty? %>
    <p>You are not working on any projects at the moment</p>
  <% end %>
  <% current_user.teams.each do |team| %>
    <div class='col-lg-3 col-md-4 col-sm-12'>
      <a class='card' href=<%= team_path(team) %>>
        <div class="card-body">
        <h4 class="card-title"><%= team.name %></h4>
        <% if team.description.present? %>
          <p class="card-text"><%= team.description %></p>
        <% end %>
        <p class="card-text">Role: <%= capitalize_name get_user_role current_user, team %></p>
      </div>
      </a>
    </div>
  <% end %>
</div>
