<% provide(:title, 'Home') %>
<% provide(:active_nav, 'home') %>
<div class="page-header">
  <h3><%= welcome_message %></h3>
  <h1>Your Dashboard</h1>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <%= render partial: "projects/project_list" %>
    <%= render partial: "teams/team_list" %>
    <%= render partial: "tasks_cards", locals: {projects: @projects} %>
  </div>
</div>
