<%= form_for [commentable, commentable.replies.build] do |f| %>
    <div class="form-group">
      <%= f.text_area :content, class: "reply-form", placeholder: "Add a comment" %>
    </div>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
