<ul style="list-style-type: none;">
  <li>
    <div class="reply-body">
      <span class="user"><%= reply.user.username %></span>
      <%= reply.created_at %>
      <p class="content"><%= reply.content %></p>
    </div>
  </li>
</ul>
