<ul style="list-style-type: none;">
  <li>
    <div class="comment-container">
      <div class="comment-block">
        <div class="comment-body">
          <span class="user"><%= comment.user.username %></span>
          <%= comment.created_at %>
          <p class="content"><%= comment.content %></p>
        </div>
      </div>
      <div class="reply-block">
        <%= render partial: 'replies/reply', collection: comment.replies, as: :reply %>
      </div>
      <%= render partial: 'replies/form', locals: {commentable: comment} %>
    </div>
  </li>
</ul>
