<%= form_for(@team_project, remote: true, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @team_project.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@team_project.errors.count, "error") %> prohibited this team_project from being saved:</h4>

      <ul>
      <% @team_project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :team, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <% if @team.nil? %>
        <%= f.select :team_id, (Team.all - @project.teams).collect { |team| [team.name, team.id]} %>
      <% else %>
      <%= f.text_field :ignore, class: "form-control", value: @team.name, disabled: true %>
          <%= f.hidden_field :team_id, value: @team.id, class: "form-control" %>
          <%= f.hidden_field :referrer_type, value: "team", class: "form-control" %>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :project, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <% if @project.nil? %>
        <%= f.select :project_id, (Project.all - @team.projects).collect { |project| [project.name, project.id]} %>
      <% else %>
          <%= f.text_field :ignore, class: "form-control", value: @project.name, disabled: true %>
          <%= f.hidden_field :project_id, value: @project.id, class: "form-control" %>
          <%= f.hidden_field :referrer_type, value: "project", class: "form-control" %>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary pull-right" %>
    </div>
  </div>
<% end %>
