<div class="page-header">
  <%= link_to new_team_project_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Team project
  <% end %>
  <h1>Listing team_projects</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Team</th>
            <th>Project</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @team_projects) do |team_project| %>
            <td><%= team_project.team %></td>
            <td><%= team_project.project %></td>
            <td><%= link_to 'Show', team_project %></td>
        <td><%= link_to 'Edit', edit_team_project_path(team_project) %></td>
        <td><%= link_to 'Destroy', team_project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
