<div class="page-header">
  <%= link_to team_projects_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_team_project_path(@team_project), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show team_project</h1>
</div>

<dl class="dl-horizontal">
  <dt>Team:</dt>
  <dd><%= @team_project.team %></dd>

  <dt>Project:</dt>
  <dd><%= @team_project.project %></dd>

</dl>
