<%= form_for(@task, remote: true, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @task.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h4>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= label :task, :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= text_field :task, :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= label :task, :description, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= text_field :task, :description, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <% if @task.status.present? %>
      <%= hidden_field :task, :status, value: @task.status, class: "form-control" %>
    <% else %>
      <%= hidden_field :task, :status, value: "not_started", class: "form-control" %>
    <% end %>
    <%= hidden_field :task, :parent_id, value: @parent.id, class: "form-control" %>
    <%= hidden_field :task, :parent_type, value: @parent.class.name, class: "form-control" %>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary pull-right" %>
    </div>
  </div>
<% end %>
