<div>
  <h1>
    <% if @task.status_recede.present? %>
      <%= link_to task_path(@task, task: {status: @task.status_recede}), method: :patch, class: 'btn btn-primary', style: 'margin-right:5px' do %>
        <span class="glyphicon glyphicon-backward"></span>
        <%= capitalize_name @task.status_recede %>
      <% end %>
    <% end %>
    <% if @task.status_proceed.present? %>
      <% if @task.allow_status_progression.present? %>
        <%= link_to task_path(@task, task: {status: @task.status_proceed}),method: :patch, data: { confirm: "All subtasks will transition to Ready For Delivery" }, class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-forward"></span>
        <%= capitalize_name @task.status_proceed %>
        <% end %>
      <% else %>
        <%= link_to task_path(@task, task: {status: @task.status_proceed}),method: :patch, class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-forward"></span>
        <%= capitalize_name @task.status_proceed %>
        <% end %>
      <% end %>
    <% end %>
  </h1>
</div>
