<div>
  <h3 class="home-page-heading">Sub Tasks
    <span class="badge badge-info counter"><p><%= @task.tasks.size %></p></span>
    <% if @can_manage_task %>
      <%= link_to new_task_path(parent_type: @task.class.name, parent_id: @task.id), remote: true, class: 'btn btn-primary pull-right' do %>
        <span class="glyphicon glyphicon-plus"></span>
      <% end %>
    <% end %>
  </h3>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @task.tasks) do |task| %>
            <td><%= task.name %></td>
            <td><%= task.description %></td>
            <td><%= capitalize_name(task.status) %></td>
            <td><%= link_to 'Show', task_path(task) %></td>
        <td><%= link_to 'Edit', edit_task_path(task), remote: true %></td>
        <td><%= link_to 'Destroy', task_path(task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>