<div class="page-header">
  <%= link_to request.referer, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-circle-arrow-left"></span>
    Back
  <% end %>
  <%= link_to @task, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing task</h1>
</div>

<%= render 'form' %>
