<div class="page-header">
  <%= link_to request.referer, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-circle-arrow-left"></span>
    Back
  <% end %>
  <h1>New task for: <%= @parent.name %></h1>
</div>

<%= render 'form' %>
