<div class="page-header">
  <h1>Showing <%= @task.name %> for: <%= @parent.name %>
    <% if @can_manage_task %>
      <%= render 'status_transition' %>
      <div class="slide-menu">
        <div class="menu-container">
          <div class="menu-toggle">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
            <span class="glyphicon glyphicon-remove"></span>
          </div>
          <div class="menu-items">
            <%= link_to edit_task_path, remote: true do %>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
            <%= link_to @task, method: :delete,
              data: { confirm: "Are you sure you want to delete this project?" } do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Description:</dt>
  <dd><%= @task.description %></dd>

  <dt>Status:</dt>
  <dd><%= capitalize_name(@task.status) %></dd>

</dl>
<%= render 'task_members/task_members' %>
<%= render 'sub_tasks' %>

<div id="comments">
  <h3 class="home-page-heading">
    Comments
    <span class="badge badge-info counter"><%= @task.comments.count %></span>
  </h3>
  <div id="comment-input">
    <%= render partial: "comments/form", locals: {commentable: @task} %>
  </div>
  <div id="new-comments">
    <%= render @task.comments %>
  </div>



</div>
