<%= form_for(@team_member, remote: true, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @team_member.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@team_member.errors.count, "error") %> prohibited this team_member from being saved:</h4>

      <ul>
      <% @team_member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @team_member.user_id.present? %>
    <div class="form-group">
      <%= f.label :user_id, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.select :user_id, (users_for_selection).collect{|p| [p.username, p.id]}, { include_blank: false}, :disabled => "disabled", class: "form-control" %>
      </div>
    </div>
  <% else %>
    <div class="form-group">
      <%= f.label :user_id, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.select :user_id, (users_for_selection).collect{|p| [p.username, p.id]}, { include_blank: false }, class: "form-control" %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.hidden_field :team_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.hidden_field :team_id, :value => params[:team_id], class: "form-control" %>
    </div>
  </div>

  <% if @team_member.user_id.present? %>
    <% if @team_member.is_last_team_admin? %>
    <div class="form-group">
      <%= f.label :role, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.select :role, roles_for_select, { include_blank: false }, :disabled => "disabled", class: "form-control" %>
      </div>
    </div>
    <% else %>
    <div class="form-group">
      <%= f.label :role, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.select :role, roles_for_select, { include_blank: false }, class: "form-control" %>
      </div>
    </div>
    <% end %>
  <% else %>
  <div class="form-group">
    <%= f.label :role, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :role, roles_for_select, { include_blank: false }, class: "form-control" %>
    </div>
  </div>
  <% end %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary pull-right" %>
    </div>
  </div>
<% end %>
