<div class="page-header">
  <%= link_to team_path(@team_member.team_id), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to @team_member, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <% if @team_member.is_last_team_admin? %>
    <%= link_to team_member_path(@team_member), data: {confirm: "#{@team_member.user.username} is the last team admin.\nRemoving this team member will delete the team!" }, :method => :delete, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-minus"></span>
      Remove Team Member
    <% end %>
  <% else %>
    <%= link_to team_member_path(@team_member), data: {confirm: "Are you sure you want to remove #{@team_member.user.username} from the team?" }, :method => :delete, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-minus"></span>
      Remove Team Member
    <% end %>
  <% end %>
  <h1>Manage Team Member</h1>
</div>

<%= render 'form'%>
