<div class="page-header">
  <%= link_to new_team_member_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Team member
  <% end %>
  <h1>Listing Allocated Team Members</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>User</th>
            <th>Team</th>
            <th>Role</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @team_members) do |team_member| %>
            <td><%= team_member.user.try(:username) || "None" %></td>
            <td><%= link_to( team_member.team.name, teams_path(team_member.team) ) %></td>
            <td><%= capitalize_name team_member.role %></td>
            <td><%= link_to 'Show', team_member %></td>
        <td><%= link_to 'Edit', edit_team_member_path(team_member) %></td>
        <td><%= link_to 'Destroy', team_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
