<div class="page-header">
  <%= link_to team_path(@team_member.team_id), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_team_member_path(@team_member), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show Team Members</h1>
</div>

<dl class="dl-horizontal">
  <dt>User:</dt>
  <dd><%= @team_member.user.username || "None" %></dd>

  <dt>Team:</dt>
  <dd><%= link_to( @team_member.team.name, teams_path(@team_member.team) ) %></dd>

  <dt>Role:</dt>
  <dd><%= capitalize_name @team_member.role %></dd>

</dl>
