<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">
    <span class="glyphicon glyphicon-remove-sign"></span>
  </button>
  <h3 class="modal-title" id="myModalLabel"><%= title %></h3>
</div>
<div class="modal-body">
  <p><%= message %></p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">
    Close
  </button>
</div>