<%= link_to new_task_member_path(parameters), {
  :remote => true,
  class: 'btn btn-default pull-right',
  style: ('display: none;' if hidden).to_s,
  data: {
    toggle: 'modal',
    target: '#modal-window'
  }
} do %>
  <span class="glyphicon glyphicon-plus" />
<% end %>