<% if ! @candidate_members.empty? %>
  <%= form_for(@task_member, remote: true, html: { class: "form-horizontal", role: "form" }) do |f| %>
    <% if @task_member.errors.any? %>
      <div class="alert alert-danger alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4><%= pluralize(@task_member.errors.count, "error") %> prohibited this task_member from being saved:</h4>

        <ul>
        <% @task_member.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= hidden_field :task_member, :task_id, value: @task.id, class: "form-control" %>
    </div>
    <% if @user.nil? %>
      <div class="form-group">
        <%= f.label :user, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.select :user_id, @candidate_members.collect {|user| [user.username, user.id]} %>
        </div>
      </div>
    <% else %>
      <p>Do you want to add yourself to the task?</p>
      <%= hidden_field :task_member, :user_id, value: @user.id, class: "form-control" %>
    <% end %>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10 pull-right">
        <%= f.submit value: "Add", class: "btn btn-primary pull-right" %>
      </div>
    </div>
  <% end %>
<% else %>
  <p>There are no available users to join this task</p>
  <div style="text-align: right;">
    <button type="button" class="btn btn-primary" data-dismiss="modal">
      Close
    </button>
  </div>
<% end %>
