<%= content_tag(:li, 
    id: 'task-member-' + task_member.id.to_s,
    class: 'task-member') do %>
  <div class="icon-container">
    <%= content_tag(:div, class: 'user-icon',
      data: {
        toggle: 'popover',
        html: true,
        placement: 'bottom',
        template: (render(partial: 'task_members/popover', locals: {task_member: task_member})),
        title: task_member.user.username,
        content: task_member.user.email
      }) do %>
        <h3><%= task_member.user.username[0..1].capitalize %></h3>
      <% end %>
  </a>
<% end %>