<div class="popover" role="popover">
  <div class="arrow"></div>
  <div class="popover-inner">
    <div class="popover-header">
      <h3 class="popover-title"></h3>
      <% if show_delete_action_for(member: task_member, user: current_user) %>
        <%= link_to task_member_path(task_member), remote: true, method: :delete, title: 'Remove user from task?', data: { 
          confirm: 'Remove user from task?', toggle: 'tooltip', placement: 'top' 
        } do %>
          <span class="glyphicon glyphicon-trash" />
        <% end %>
      <% end %>
    </div>
    <div class="popover-content"></div>
  </div>
</div>