<div id="task-members">
  <h3 class="home-page-heading">
    Task Members
    <span class="badge badge-info counter"><p><%= @task.task_members.size %></p></span>
    <% if @can_manage_task %>
      <%= render partial: 'task_members/add_button', locals: {parameters: {task: @task}, hidden: false} %>
    <% elsif ! @task.has_participant? current_user # allow the user to add themselves %>
      <%= render partial: 'task_members/add_button', locals: {parameters: {task: @task, user: current_user}, hidden: false} %>
    <% else # User is already a member, hide the button. Shown if the user removes themselves %>
      <%= render partial: 'task_members/add_button', locals: {parameters: {task: @task, user: current_user}, hidden: true} %>
    <% end %>
  </h3>

  <ul class="row no-gutters">
    <% if @task.task_members.size > 0 %>
        <% @task.task_members.each do |member| %>
          <%= render partial: 'task_members/member', locals: { task_member: member } %>
        <%end %>
    <% else %>
      <p id="no-task-members">There are no users currently associated with this task.</p>
    <%end %>
  </ul>
</div>