// Close the modal.
$('#modal-window').modal('toggle');

// Remove the no users message if present.
$('#no-task-members').remove();

// Add the member to the member icons.
$('#task-members ul').append("<%= j render 'create' %>");

// Add event handlers
addPopoverEvent($('.user-icon').last());
addTooltipEvent($('.user-icon').last());

// Increment the counter.
$('#task-members .counter p').text(parseInt($('#task-members .counter p').text()) + 1);

// Check if the add button should be hidden.
var userIsManager = '<%= current_user.can_manage?(task: @task_member.task) %>';
var memberIsCurrentUser = '<%= @task_member.user == current_user %>';

if(userIsManager == 'false' && memberIsCurrentUser == 'true' ) {
  $('#task-members .btn').fadeOut();
}
