// Remove the element.
$('#task-member-<%= @task_member.id %>').fadeOut(function() {
  $(this).remove();
  // Add no users message if there are no more members.
  if ($('.task-member').length == 0 ) {
    $('#task-members').append($('<p id="no-task-members">There are no users currently associated with this task.</p>'));
  }
});

// Decrement the counter.
$('#task-members .counter p').text(parseInt($('#task-members .counter p').text()) - 1);

// Check if the add button should be shown.
var userIsManager = '<%= current_user.can_manage?(task: @task_member.task) %>';
var memberIsCurrentUser = '<%= @task_member.user == current_user %>';

if(userIsManager == 'false' && memberIsCurrentUser == 'true' ) {
  $('#task-members .btn').fadeIn();
}
