<div class="page-header">
  <%= link_to new_task_member_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Task member
  <% end %>
  <h1>Listing task_members</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Task</th>
            <th>User</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @task_members) do |task_member| %>
            <td><%= task_member.task %></td>
            <td><%= task_member.user %></td>
            <td><%= link_to 'Show', task_member %></td>
        <td><%= link_to 'Edit', edit_task_member_path(task_member) %></td>
        <td><%= link_to 'Destroy', task_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
