<div class="page-header">
  <%= link_to task_members_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_task_member_path(@task_member), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show task_member</h1>
</div>

<dl class="dl-horizontal">
  <dt>Task:</dt>
  <dd><%= @task_member.task %></dd>

  <dt>User:</dt>
  <dd><%= @task_member.user %></dd>

</dl>
