<div class="row no-gutters">
  <h3 class="home-page-heading">
    Projects
    <span class="badge badge-info counter"><p><%= @projects.size %></p></span>
    <%= link_to new_project_path, remote: true, class: 'btn btn-default pull-right' do %>
      <span class="glyphicon glyphicon-plus" />
    <% end %>
  </h3>
  <% if @projects.empty? %>
    <p>You are not working on any projects at the moment</p>
  <% end %>
  <% @projects.each do |project| %>
    <%= render partial: 'layouts/card', locals: {
      target_link: project_path(project),
      card_type: 'project',
      title: project.name,
      description: (project.description if project.description.present?)
    } %>
  <% end %>
</div>
