<% @tasks.each do |task| %>
  <div class='col-lg-3 col-md-4 col-sm-12'>
    <div class='card'>
      <a class="card-body"  href=<%= task_path(task) %>>
        <h4 class="card-title"><%= task.name %></h4>
        <% if task.description.present? %>
          <p class="card-text"><%= task.description %></p>
        <% end %>
      </a>

      <% if user_can_manage_task?(user: current_user, task: task) %>
        <div class="card-footer">
          <div class="slide-menu">
            <div class="menu-container">
              <div class="menu-toggle">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
                <span class="glyphicon glyphicon-remove"></span>
              </div>
              <div class="menu-items">
                <%= link_to task, method: :delete,
                  data: { confirm: "Are you sure you want to remove this task from the project?" } do %>
                  <span class="glyphicon glyphicon-trash"></span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>