<% if @project.teams.empty? %>
  <p>No teams have been assigned to this project yet</p>
<% end %>
<% @project.teams.each do |team| %>
  <div class='col-lg-3 col-md-4 col-sm-12'>
    <% if user_is_team_member?(team) %>
      <div class='card'>
        <a class="card-body"  href=<%= team_path(team) %>>
          <h4 class="card-title"><%= team.name %></h4>
          <% if team.description.present? %>
            <p class="card-text"><%= team.description %></p>
          <% end %>
        </a>

        <% if user_is_project_owner? @project %>
          <div class="card-footer">
            <div class="slide-menu">
              <div class="menu-container">
                <div class="menu-toggle">
                  <span class="glyphicon glyphicon-menu-hamburger"></span>
                  <span class="glyphicon glyphicon-remove"></span>
                </div>
                <div class="menu-items">
                  <%= link_to @project.team_projects.find_by(team_id: team.id), method: :delete,
                    data: { confirm: "Are you sure you want to remove this team from the project?" } do %>
                    <span class="glyphicon glyphicon-trash"></span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    <% else %>
      <div class='card'>
        <div class="card-body">
          <h4 class="card-title"><%= team.name %></h4>
          <% if team.description.present? %>
            <p class="card-text"><%= team.description %></p>
          <% end %>
          <p class="card-footer">Placeholder: Not a member</p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>