<% provide(:title, 'Editing Project - ' + @project.name) %>
<% provide(:active_nav, 'projects') %>
<div class="page-header">
  <%= link_to request.referer, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-circle-arrow-left"></span>
    Back
  <% end %>
  <%= link_to @project, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing project</h1>
</div>

<%= render 'form' %>
