<% provide(:title, 'Showing Projects') %>
<% provide(:active_nav, 'projects') %>
<div class="page-header">
  <h1>Listing projects for: <%= current_user.username %></h1>
</div>

<%= render 'projects/project_list' %>
