<% provide(:title, 'New Project') %>
<% provide(:active_nav, 'projects') %>
<div class="page-header">
  <%= link_to request.referer, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-circle-arrow-left"></span>
    Back
  <% end %>
  <h1>New project</h1>
</div>

<%= render 'form' %>
