<% provide(:title, 'Project - ' + @project.name) %>
<% provide(:active_nav, 'projects') %>
<div class="page-header">
  <h1><%= @project.name %>
    <% if user_is_project_owner? @project %>
      <div class="slide-menu">
        <div class="menu-container">
          <div class="menu-toggle">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
            <span class="glyphicon glyphicon-remove"></span>
          </div>
          <div class="menu-items">
            <%= link_to edit_project_path, remote: true do %>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
            <%= link_to @project, method: :delete,
              data: { confirm: "Are you sure you want to delete this project?" } do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </h1>
</div>

<% if @project.description.present? %>
  <dl class="dl-horizontal">
    <dt>Description:</dt>
    <dd><%= @project.description %></dd>
  </dl>
<% end %>

<div class="row no-gutters">
  <h3 class="home-page-heading">Tasks
    <span class="badge badge-info counter"><p><%= @project.tasks.size %></p></span>
    <% if @project.can_add_task? current_user %>
      <%= link_to new_task_path(parent_type: @project.class.name, parent_id: @project), remote: true, class: 'btn btn-primary pull-right' do %>
        <span class="glyphicon glyphicon-plus"></span>
      <% end %>
    <% end %>
  </h3>
  <!-- <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @tasks) do |task| %>
            <td><%= task.name %></td>
            <td><%= task.description %></td>
            <td><%= capitalize_name(task.status) %></td>
            <td><%= link_to 'Show', task_path(task) %></td>
        <td><%= link_to 'Edit', edit_task_path(task), remote: true %></td>
        <td><%= link_to 'Destroy', task_path(task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table> -->
  <%= render 'tasks' %>
</div>

<div class="row no-gutters">
  <h3 class="home-page-heading">Teams
    <span class="badge badge-info counter"><p><%= @project.teams.size %></p></span>
    <% if user_is_project_owner? @project %>
      <%= link_to new_team_project_path(project: @project), remote: true, class: 'btn btn-default pull-right' do %>
        <span class="glyphicon glyphicon-plus" />
      <% end %>
    <% end %>
  </h3>
  <%= render "teams" %>
</div>
