// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "navbar";
@import "static-pages";
@import "cards";
@import "task-members";
@import "colours";
@import "modal";
@import "slide-menu";
@import "breadcrumb";
@import "comments";

#devise-container {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

#devise-container h2 {
	text-align: center;
}

#devise-container .field, #devise-container .actions {
	margin-bottom: 10px;
}

#devise-container input {
	width: 100%;
}

#devise-container input[type='checkbox'] {
	width: auto;
}

#devise-container .checkbox-label {
	vertical-align: top;
	padding: 4px;
}

#devise-container p {
  margin-bottom: 3px;
}

// Removes gutters from between columns and the parent row.
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}


// General
main {
	margin-top: 50px;
}

.page-header {
  margin: 30px 0px 0px;
}

.dl-horizontal {
  margin-top: 15px;
}

a:hover {
  text-decoration: none;
  color: $dark-primary;
}

.btn {
  background-color: $dark-primary;
  color: $light-secondary;
}

.btn:hover {
  background-color: lighten( $dark-primary, 10% );
  color: white;
}

// Home page

.remove-element span {
  color: red;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border-top: $card-border;
}

.home-page-heading {
  padding: 0.6rem 1rem;
  background-color: $light-secondary;
  line-height: 3.5rem;
  position: relative;
  margin: 20px 0px;

  .counter {
    background-color: $dark-secondary;
    position: relative;
    border-radius: 1.3rem;
    top: -.2rem;

    p {
      margin: .5rem .2rem .2rem;
    }
  }

  .btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;

    .glyphicon {
      color: $dark-primary;
      top: calc(50% - 1px);
      transform: translateY(-50%);
      left: .1rem;
      font-size: 2rem;
      display: block;
    }

    &:hover {
      background-color: $dark-primary;
      .glyphicon {
        color: $icon-colour;
      }
    }
  }
}
