.breadcrumb {
  padding: 0;

  a {
    padding: 8px;
    display: inline-block;
    color: $dark-primary;

    &:hover {
      background-color: $dark-primary;
      color: $icon-colour;
    }
  }

  li {
    &:first-of-type a {
      padding-left: 15px;
    }

    +li::before {
      padding: 0;
    }
  } 
}