@import "colours";

$card-border: 1px solid black;

.card {
  display: block;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: $light-secondary;
  color: $font-colour-default;

  .card-title {
    background-color: $dark-primary;
    color: $light-secondary;
    text-align: center;
    margin: 0;
    padding: 10px 0;
  }

  .card-text {
    padding: 15px;
  }

  .card-text:first-of-type {
    padding-top: 10px;
  }

  .card-footer {
    text-align: right;
    position: relative;
    overflow: hidden;
    /*background-color: $dark-secondary;*/

    span {
      padding: 10px;
      top: 0;
    }
  }
}

a.card:hover,
.card > a.card-body:hover {
  .card-title {
    background-color: lighten( $dark-primary, 5% );
    color: white;
  }
}