@import "colours";
@import url('https://fonts.googleapis.com/css?family=Roboto');

#new-comments ul {
  padding: 0;
}


.content {
  font-size: 1.0em;
  -moz-user-select: text !important;
  font-family: 'Roboto', sans-serif;

}

.user {
  position: relative;
  color: darken(#0000FF, 35%);
  padding-right: 8px;
}

.comment-container {
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 2px 1px 2px 2px darken(#D3D3D3, 5%);
}

.comment-block {
  background-color: lighten(#D3D3D3, 12%);
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #D3D3D3;

  .comment-body {
    position: relative;
    padding-left: 20px;
    max-width: 600px;
  }
}

.reply-block {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: lighten(#D3D3D3, 15%);


  .reply-body {
    position: relative;
    right: -10px;
    font-size: 1.0em;
    padding-bottom: 5px;
    padding-left: 40px;
    max-width: 1000px;
  }
}

.comment-form {
  width: 100%;
  height: 100px;
}

.reply-form {
  width: 100%;
}



#comment-input {
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #D3D3D3;
}
