@import "colours";

.navbar-inverse {
  background-color: $dark-primary;
  border: none;

  .navbar-nav > li > a,
  .navbar-brand,
  .navbar-text,
  .navbar-link {
    color: $light-secondary;
  }

  .active,
  .navbar-nav > .active > a {
    background-color: darken( $dark-secondary, 30% );
  }

  .navbar-nav > li > a:hover {
    background-color: lighten( $dark-primary, 10% );
  }
}