.slide-menu {
  position: relative;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  color: $dark-primary;

  .menu-container {
    position: relative;

    .glyphicon {
      color: $dark-primary;
    }

    .glyphicon:hover {
      color: $icon-colour;
      background-color: $dark-primary;
    }

    .menu-toggle, .menu-items {
      display: inline-block;
    }

    .menu-toggle {
      cursor: pointer;
      position: relative;

      .glyphicon-remove {
        position: absolute;
        left: 0px;
        display: none;
      }
    }
  }
}

.page-header {
  position: relative;

  .slide-menu {
    text-align: right;
    position: absolute;
    top: -.6rem;
    right: 0;
    font-size: 2.2rem;

    .glyphicon {
      padding: 1.1rem;
    }
  }
}