@import "colours";

$icon-margin: 1rem;

#task-members {
  .no-gutters{

    padding: 0;
    margin-left: -$icon-margin;
    margin-right: -$icon-margin;

    li {
      display: inline-block;
    }

    .icon-container {
      position: relative;
      padding: 0;
      width: 6rem;
      margin: $icon-margin;
    }

    .icon-container:before {
      content: "";
      display: block;
      padding-top: 100%;
    }

    .user-icon {
      background-color: $dark-primary;
      color: $icon-colour;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      cursor: pointer;

      h3 {
        text-align: center;
        margin: 0;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .popover {
      .popover-header {
        position: relative;

        a {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          padding: 0 1rem;
          color: $dark-primary;

          .glyphicon {
            position: relative;
            top: 50%;
            transform: translateY( -50% );
          }
        }

        a:hover {
          background-color: $dark-primary;
          color: $icon-colour;
        }
      }
    }

    #no-task-members {
      margin-left: $icon-margin;
    }
  }
}