<div class='col-lg-3 col-md-4 col-sm-12'>
  <%= link_to target_link, class: 'card ' + card_type do %>
    <div class="card-body">
      <h4 class="card-title"><%= title %></h4>
      <% if description.present? %>
        <p class="card-text"><%= description %></p>
      <% end %>
      <% if defined?(extra_body) %>
        <% extra_body.each do |text| %>
          <p class="card-text"><%= text %></p>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>