<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to project_name, root_url, class: "navbar-brand" %>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li class="<%= 'active' if yield(:active_nav).eql?('home') %>"><%= link_to "Home", static_pages_home_url %></li>
            <li class="<%= 'active' if yield(:active_nav).eql?('projects') %>"><%= link_to "Projects", projects_url %></li>
            <li class="<%= 'active' if yield(:active_nav).eql?('teams') %>"><%= link_to "Teams", teams_path %></li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <% if user_signed_in? %>
            <li class="navbar-text">Logged in as <strong><%= current_user.username %></strong>.</li>
            <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>